{% extends 'base.html.twig' %}

{% block body_id 'app_index' %}

{% block main %}
   <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
                <p>
                    Añadir películas a mi lista de favoritas, busca una película por título para mostrar resultados
                </p>
            </div>
        </div>
    </div>
<style>
    th, td {
        vertical-align: middle !important;
        text-align: center;
    }
</style>
<div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id Movie</th>
                        <th>Id Movie en TMDB</th>
                        <th>Título</th>
                        <th>Valoración personal</th>
                        <th>Gestiones</th>
                    </tr>
                </thead>

                <tbody>
                {% for movie in allMovies %}
                <tr>
                    <td>{{ movie.id_movie }}</td>
                    <td>{{ movie.id_movie_mdb }}</td>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.valoration }}</td>
                    <td>
                        <button class="btn btn-success">Valorar</button>
                        <button class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
         </div>
</div>
    
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    {{ show_source_code(_self) }}
{% endblock %}
