{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See https://symfony.com/doc/current/templates.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}My Fav Movies (Proyecto final del track PHP de Hack a Boss){% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('claqueta.ico') }}" />
    </head>

    <body id="{% block body_id %}{% endblock %}">

        {% block header %}
            {% set _route = app.request.get('_route') %}
            <header>
                <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
                    <div class="container">
                        <a class="navbar-brand" href="{{ path('homepage') }}">
                            My Fav Movies
                        </a>
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#appNavbar" aria-controls="appNavbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="navbar-collapse collapse" id="appNavbar">
                            <ul class="navbar-nav ml-auto">
                                {% block header_navigation_links %}
                                    <li class="nav-item{{ _route == 'homepage' ? ' active' : '' }}">
                                        <a class="nav-link" href="{{ path('homepage') }}">
                                            <i class="fa fa-home" aria-hidden="true"></i> {{ 'menu.homepage'|trans }}
                                        </a>
                                    </li>
                                    
                                {% endblock %}

                                <li class="nav-item{{ _route == 'movie_search' ? ' active' : '' }}">
                                    <a class="nav-link" href="{{ path('movie_search') }}"> <i class="fa fa-search"></i> {{ 'menu.search'|trans }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <div id="locale-selector-modal" class="modal" tabindex="-1" aria-hidden="true">
                <div class="modal-lg modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p class="modal-title" lang="en">
                                {# display this title always in English to make the language selector easier to use #}
                                Choose your language
                            </p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <ul class="locales">
                                {% for locale in locales() %}
                                    {% set is_active = app.request.locale == locale.code %}
                                    {% set is_rtl = locale.code in ['ar', 'fa', 'he'] %}
                                    <li class="{{ is_active ? 'active' }} {{ is_rtl ? 'rtl' }}" translate="no">
                                        <a class="stretched-link" lang="{{ locale.code }}" hreflang="{{ locale.code }}" href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">
                                            {{ locale.name|capitalize }}
                                            <small>{{ locale.code }}</small>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <div class="container body-container">
            {% block body %}
                <div class="row">
                    <div id="main" class="col-sm-9">
                        
                        {% block main %}{% endblock %}
                    </div>

                    <div id="sidebar" class="col-sm-3">
                        {% block sidebar %}
                            {{ render_esi(controller('Symfony\\Bundle\\FrameworkBundle\\Controller\\TemplateController::templateAction', {
                                'template': 'app/about.html.twig',
                                'sharedAge': 600,
                                '_locale': app.request.locale
                            })) }}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>

        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div id="footer-copyright" class="col-md-9">
                            <p>&copy; {{ 'now'|date('Y') }} - un proyecto para Hack A Boss bajo la supervisión de Guillermo Maquieira para EMAIS</p>
                            
                        </div>
                        <div id="footer-resources" class="col-md-3">
                            <p>
                                <a href="https://github.com/bocanegraapps/myfavmovie" title="Ver en GitHub">
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                </a>
                                
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        {# it's not mandatory to set the timezone in localizeddate(). This is done to
           avoid errors when the 'intl' PHP extension is not available and the application
           is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
        <!-- Page rendered on {{ 'now'|format_datetime('long', 'long', '', 'UTC') }} -->
    </body>
</html>
